// media query variables and mixins
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
	@media (min-width: 1px) and (max-width: #{$mobile-width - 1px}) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: #{$tablet-width}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

// flex-direction mixin
@mixin flex-direction($direction) {
	@if $direction == column {
		-webkit-flex-direction: vertical;
		-moz-flex-direction: vertical;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
	} @else {
		-webkit-flex-direction: horizontal;
		-moz-flex-direction: horizontal;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
}

// container width & height mixins
@mixin containerSize {
	width: 100%;
	height: 100vh;
}

// import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Abel|Cabin&display=swap');
$abel: 'Abel', sans-serif;
$cabin: 'Cabin', 'Arial', sans-serif;

// Color variables
$white: #fff;
$black: #0d0f0c;
$grey: #4e5354;
$pink: #ffb2a6;
$blue: #abcdca;
$lilac: #ccb3b3;
$lemon: #f5ed42;

body {
	margin: 0;
	background-color: $white;
	font-family: $cabin;
	font-size: 1em;
}

// sections with uniform gradient background
#gradient {
	background: linear-gradient(120deg, #ff8aa6, #abcdca, #db9ec1);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 20s ease infinite;
	-moz-animation: AnimationName 20s ease infinite;
	animation: AnimationName 20s ease infinite;

	@-webkit-keyframes AnimationName {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 51%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	@-moz-keyframes AnimationName {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 51%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	@keyframes AnimationName {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 51%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}

h1 {
	font-family: $abel;
	color: $white;
	font-size: 2rem;
	letter-spacing: 6px;
	@include tablet() {
		margin: 0;
		transform: rotate(-90deg);
		font-size: 2.85rem;
		letter-spacing: 8px;
	}
	@include desktop() {
		transform: rotate(-90deg);
		font-size: 3rem;
		letter-spacing: 10px;
	}
}

p {
	color: $white;
	font-size: 1.45rem;
	font-weight: 700;
	letter-spacing: 1px;
	@include tablet() {
		font-size: 1.75rem;
		letter-spacing: 3px;
	}
	@include desktop() {
		font-size: 2rem;
		letter-spacing: 5px;
	}
}

// Styling for section content width
.section-content {
	width: 80%;
}

// Styling for circular section images
.section-img {
	margin: 0 100px;
	width: 250px;
	border-radius: 360px;
	border: 2px solid $grey;
	@include mobile() {
		width: 175px;
	}
}

// Header/Navigation
.header-container {
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100vw;
	height: 55px;
	@include desktop() {
		width: 100%;
		height: 75px;
	}
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(256, 256, 256, 0.5);
	a {
		padding-right: 50px;
		color: $black;
		font-size: 0.6rem;
		@include tablet() {
			font-size: 0.75rem;
		}
		@include desktop() {
			font-size: 0.9rem;
		}
		font-weight: 700;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		text-decoration: none;
		&:last-child {
			padding-right: 0;
		}
	}
}

// Landing Section
.landing-container {
	display: flex;
	@include flex-direction(column);
	align-items: center;
	@include containerSize();
	padding-top: 150px;
	img {
		width: 75%;
		@include tablet() {
			width: 65%;
		}
		@include desktop() {
			width: 45%;
		}
	}
	.landing-img-container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 75%;
		padding-top: 50px;
		@include tablet() {
			width: 65%;
			padding-top: 60px;
		}
		@include desktop() {
			width: 45%;
			padding-top: 75px;
		}
		img {
			width: 35px;
			@include tablet() {
				width: 55px;
			}
			@include desktop() {
				width: 65px;
			}
			border-radius: 360px;
			border: 1px solid rgba(245, 237, 66, 0.5);
			-webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
			filter: grayscale(100%); /* FF 35+ */
			transition: filter 0.35s ease-in-out;
		}
		img:hover {
			-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
			filter: grayscale(0%); /* FF 35+ */
		}
	}
}

// About Section
.about-container {
	display: flex;
	align-items: center;
	@include containerSize();
	@include mobile() {
		@include flex-direction(column);
		align-content: center;
		padding-top: 80px;
	}
	p {
		width: 50%;
		@include mobile() {
			width: 70%;
			text-align: center;
		}
		@include tablet() {
			width: 70%;
			text-align: center;
		}
	}
	.section-content {
		display: flex;
		align-items: center;
		justify-content: center;
		@include mobile() {
			@include flex-direction(column);
			align-items: center;
		}
		@include tablet() {
			@include flex-direction(column);
			align-items: center;
		}
	}
}

// Portfolio Section
.portfolio-container {
	display: flex;
	align-items: center;
	@include containerSize();
	@include mobile() {
		@include flex-direction(column);
		align-content: center;
		padding-top: 80px;
	}
}

// Contact Section
.contact-container {
	display: flex;
	align-items: center;
	@include containerSize();
	@include mobile() {
		@include flex-direction(column);
		align-content: center;
		padding-top: 80px;
	}
	.section-content {
		display: flex;
		@include mobile() {
			@include flex-direction(column);
			align-items: center;
		}
	}
	p {
		width: 50%;
		@include mobile() {
			width: 90%;
			text-align: center;
		}
	}
}

// Footer
.footer {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	text-align: center;
	color: $grey;
	font-size: 0.5rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
	a {
		color: $grey;
		font-weight: 900;
		text-decoration: none;
	}
}
