// media query variables & mixins
$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;
@mixin mobile {
	@media (min-width: 1px) and (max-width: #{$mobile-width - 1px}) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: #{$tablet-width - 1px}) and (max-width: #{$desktop-width - 1px}) {
		@content;
	}
}
@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

// flex-direction mixin
@mixin flex-direction($direction) {
	@if $direction == column {
		-webkit-flex-direction: vertical;
		-moz-flex-direction: vertical;
		-ms-flex-direction: column;
		-webkit-flex-direction: column;
		flex-direction: column;
	} @else {
		-webkit-flex-direction: horizontal;
		-moz-flex-direction: horizontal;
		-ms-flex-direction: row;
		-webkit-flex-direction: row;
		flex-direction: row;
	}
}

// container width & height mixin
@mixin containerSize {
	width: 80%;
	height: 100vh;
}

// import Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
$navFont: 'Raleway', 'Arial', sans-serif;
$bodyFont: 'Raleway', 'Arial', sans-serif;

// Color variables
$white: #fff;
$black: #0d0f0c;
$grey: #4e5354;
$pink: #ffb2a6;
$blue: #abcdca;
$lilac: #ccb3b3;
$lemon: #f5ed42;

body {
	margin: 0;
	background-color: $white;
	font-family: $bodyFont;
	font-size: 1em;
}

// uniform gradient background for About, Portfolio, and Contact sections
#gradient {
	background: linear-gradient(120deg, #ff8aa6, #abcdca, #db9ec1);
	background-size: 600% 600%;

	-webkit-animation: AnimationName 20s ease infinite;
	-moz-animation: AnimationName 20s ease infinite;
	animation: AnimationName 20s ease infinite;

	@-webkit-keyframes AnimationName {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 51%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	@-moz-keyframes AnimationName {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 51%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
	@keyframes AnimationName {
		0% {
			background-position: 0% 50%;
		}
		50% {
			background-position: 100% 51%;
		}
		100% {
			background-position: 0% 50%;
		}
	}
}

// non-visible headers
.accessible-header {
	clip: rect(1px 1px 1px 1px); /* IE 6/7 */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap; /* added line */
	width: 1px;
}

p {
	color: $white;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 1px;
	text-align: center;
	@include tablet() {
		font-size: 1.7rem;
		letter-spacing: 3px;
	}
	@include desktop() {
		font-size: 1.95rem;
		letter-spacing: 5px;
	}
}

// Styling for circular section images
.section-img {
	max-width: 250px;
	min-width: 10%;
	border-radius: 360px;
	border: 2px solid rgba(78, 83, 84, 0.25);
	@include mobile() {
		width: 175px;
	}
	@include desktop() {
		margin-right: 100px;
	}
}

// Fixed Header/Navigation
.header-container {
	.navbar {
		display: flex;
		align-items: center;
		justify-content: space-evenly;
		background-color: rgba(256, 256, 256, 0.25);
		width: 100vw;
		height: 55px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 10;
		transition: top 0.5s;
		@include desktop() {
			width: 100%;
			height: 75px;
		}
	}
	// Only hide navbar on desktop
	.navbar--hidden {
		top: -75px;
		@include mobile() {
			top: 0;
		}
		@include tablet() {
			top: 0;
		}
	}
	a {
		color: $grey;
		font-family: $navFont;
		font-weight: 500;
		font-size: 0.7rem;
		letter-spacing: 0.15em;
		text-transform: lowercase;
		text-decoration: none;
		transition: color 0.25s ease-in-out;
		@include tablet() {
			font-size: 1rem;
		}
		@include desktop() {
			font-size: 1.2rem;
		}
	}
	a:hover {
		cursor: pointer;
		color: $black;
	}
}

// Landing Section
.landing-container {
	display: flex;
	@include flex-direction(column);
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;
	// logo styling
	img {
		width: 75%;
		@include tablet() {
			width: 65%;
		}
		@include desktop() {
			width: 45%;
		}
	}
}

.separator {
	width: 50%;
	border-bottom: 5px solid rgba(256, 256, 256, 0.5);
	transform: translate(50%, -50%);
	@include desktop() {
		padding-bottom: 200px;
	}
	&:last-of-type {
		padding: 0;
	}
}

// About Section
.about-container {
	display: flex;
	align-items: center;
	margin: 0 auto;
	@include containerSize();
	@include mobile() {
		@include flex-direction(column);
		align-content: center;
		padding-top: 125px;
	}
	@include tablet() {
		@include flex-direction(column);
		align-content: center;
		padding-top: 250px;
	}
	p {
		padding-bottom: 35px;
	}
	@include desktop() {
		p {
			font-size: 1.75rem;
			line-height: 3rem;
		}
	}
}
#about-text {
	display: flex;
	@include flex-direction(column);
	align-items: center;
}
.about-btn {
	padding: 15px 20px;
	border: 1px solid $white;
	border-radius: 30px;
	color: $grey;
	font-family: $bodyFont;
	font-size: 1.45rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	text-transform: lowercase;
	text-decoration: none;
	background-color: rgba(256, 256, 256, 0.4);
	transition: all 0.35s ease-in-out;
}
.about-btn:hover {
	background-color: rgba(256, 256, 256, 0.75);
}

// Portfolio Section
.portfolio-container {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: auto;
	padding: 25px 0 125px;
	@include mobile() {
		padding: 75px 0;
	}
	// portfolio image styling
	.portfolio-img-container {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-around;
		width: 95%;
		.flex-item {
			margin: 3%;
			max-width: 18%;
			height: auto;
			overflow: hidden;
			@include mobile() {
				max-width: 42%;
				margin: 3%;
			}
			@include tablet() {
				max-width: 25%;
				margin: 2%;
			}
		}
		.flex-item img {
			display: block;
			width: 100%;
			height: auto;
		}
		@include mobile() {
			img {
				border: 2px solid rgba(256, 256, 256, 0.5);
			}
		}
		@include tablet() {
			img {
				border: 3px solid rgba(256, 256, 256, 0.5);
			}
		}
		// black and white on desktop only
		@include desktop {
			img {
				border: 5px solid rgba(256, 256, 256, 0.5);
				-webkit-filter: grayscale(
					100%
				); /* Ch 23+, Saf 6.0+, BB 10.0+ */
				filter: grayscale(100%); /* FF 35+ */
				transition: all 0.35s ease-in-out;
			}
			img:hover {
				border: 5px solid rgba(256, 256, 256, 1);
				-webkit-filter: grayscale(0%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
				filter: grayscale(0%); /* FF 35+ */
			}
		}
	}
}

// Contact Section
.contact-container {
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	margin: 0 auto;
	@include containerSize();
	@include mobile() {
		@include flex-direction(column);
		align-content: center;
		padding-top: 40px;
	}
	@include tablet() {
		@include flex-direction(column);
		align-content: center;
	}
	#contact-text {
		line-height: 1.8rem;
		text-align: center;
	}

	#contact-email,
	#contact-phone {
		color: $white;
		font-size: 1.4rem;
		font-weight: 700;
		letter-spacing: 1px;
		@include tablet() {
			font-size: 1.7rem;
			letter-spacing: 3px;
		}
		@include desktop() {
			font-size: 1.95rem;
			letter-spacing: 5px;
		}
		a {
			color: $white;
			text-decoration: none;
		}
	}
}

// Footer
footer {
	width: 100%;
	background-color: $white;
	p {
		text-align: center;
		color: $grey;
		font-size: 0.45rem;
		font-weight: 700;
		letter-spacing: 0.5em;
		text-transform: uppercase;
		@include mobile() {
			font-size: 0.3rem;
		}
	}
	a {
		color: $grey;
		font-weight: 900;
		text-decoration: none;
	}
}
