// Color variables
$black: #0d0f0c;
$grey: #4e5354;
$pink: #ffb2a6;
$blue: #abcdca;
$lilac: #ccb3b3;
$lemon: #f5ed42;

// h1 font
$abel: 'Abel', sans-serif;
// body font
$cabin: 'Cabin', 'Arial', sans-serif;

body {
	margin: 0;
	font: $cabin;
	font-size: 1em;
}

.header-container {
	width: 100%;
	height: 100px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(256, 256, 256, 0.5);
	a {
		padding-right: 50px;
		color: $black;
		font-size: 0.75rem;
		font-weight: 700;
		letter-spacing: 0.25em;
		text-transform: uppercase;
		text-decoration: none;
		&:last-child {
			padding-right: 0;
		}
	}
}
